{% load widget_tweaks %}
<form method="post">
    {% csrf_token %}
    {% for field in form %}
        <div class="row">
            <div class="{% if field|widget_type == 'clearablefileinput' %} file-field {% endif %} input-field col s12">
                {% if field|widget_type == 'clearablefileinput' %}
                    <div class="btn">
                        <span>Archivo</span>
                        {% render_field field %}
                    </div>
                    <div class="file-path-wrapper">
                        <input class="file-path validate" type="text">
                    </div>
                {% elif field|widget_type == 'dateinput' %}
                    {% render_field field class+="datepicker" %}
                    <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                {% else %}
                    {% render_field field class+="validate" %}
                    <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                {% endif %}
            </div>
        </div>
    {% endfor %}

    <div class="row">
        <button class="btn waves-effect waves-light right red darken-1" type="submit" name="action">Entrar
            <i class="material-icons right">send</i>
        </button>
    </div>
</form>